<!DOCTYPE html>
<html>
<head>
  <title>Wiki v Wiki</title>
  <meta name="author" content="Colin Rymer" />
</head>
<body>
<h1><%= "#{@first} #{@second}" %></h1>

<p><a href="/" >next</a></p>
</body>
</html>