<!DOCTYPE html>
<html>
<head>
  <title>Wiki v Wiki</title>
  <meta name="author" content="Colin Rymer" />
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body>
  <%= yield %>
</body>
</html>