<!DOCTYPE html>
<html>
<head>
  <title>Wiki v Wiki</title>
  <meta name="author" content="Colin Rymer" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <div class="container-fluid">
    <%= yield %>
  </div>
</body>
</html>