<h1><%= @idea.idea %></h1>
<h2><%= @idea.categories %></h2>
<a href="/random" class="btn btn-danger" style="display: inline-block">Vetoed</a>
<form action="/random" method="post" class="form-inline" style="display: inline-block">
  <input type="hidden" name="idea" value= "<%= @idea.idea %>">
  <input type="hidden" name="categories" value= "<%= @idea.categories %>">
  <input type="submit" value="Approved" class="btn btn-success">
</form>
<a href="/" >Back to list</a>